{% macro link(data) %}
    <a href="{{ data.url }}" {{ data | attr('class') | safe }}>
        {% if data.icon %}
            <span class="icon">
                {% include "assets/" + data.icon + ".svg" %}
            </span>
        {% endif %}

        {{ data.text }}
    </a>
{% endmacro %}

{% macro img(data, extra) %}
    {% if data.url %}
        <a href="{{ data.url }}" target="_blank">
            <img {{ data | attr('src', 'alt', 'class') | safe }}>
        </a>
    {% else %}
        <img {{ [data, extra] | attr('src', 'alt', 'class') | safe }}>
    {% endif %}
{% endmacro %}

{% macro icon(type, data, class) %}
    {% if data.url %}
    <a href="{{ data.url }}" class="{{ ['icon', class, data.class] | class }}" title="{{ data.title }}">
        {% include "assets/" + type + ".svg" %}
    </a>
    {% else %}
        {% include "assets/" + type + ".svg" %}
    {% endif %}
{% endmacro %}