---
layout: layouts/base.njk
lang: es
title: Tarugoconf Sofá Edition
description: 
bodyClass: body-home

menu:
  - text: Qué
    url: '#what'
  - text: Para qué
    url: '#why'
  - text: Agenda
    url: '#calendar'
  - text: Contacto
    url: '#contact'
  - text: FAQ
    url: '#faq'
  - text: Blog
    url: '/blog/'

ctas:
  - text: Asistir
    url: '#tickets'
    class: button is-secondary
  - text: Patrocinar
    url: '#partners'
    class: button

header:
    logo: Tarugoconf Sofá Edition
    title: Tecnología y negocios en una situación sin precedentes
    subtitle: 22-23-24 de octubre de 2020 — **Evento online**

what:
    id: what
    title: Qué
    metrics: |
        * **3** días
        * **7** charlas
        * **6** talleres
        * **700** asistentes
        * **1** comunidad
    text: |
        La Tarugoconf es **una conferencia sobre diseño, construcción y comercialización de productos y servicios digitales** que nace alrededor de la heterogénea Comunidad de suscriptores y suscriptoras de <a href="https://mailchi.mp/bonillaware/paradoja-pizza" target="_blank">La Bonilista</a>, la newsletter semanal sobre emprendimiento tecnológico escrita por David Bonilla.

        Es, ante todo, **un punto de encuentro para gente que «hace cosas»** alrededor del software, la innovación tecnológica e Internet: diseñadores, inversores, programadores, comerciales, gente de marketing o soporte, administradores de sistemas, recruiters… camaradas del metal, *tarugos* todos.

        Organizada con un único objetivo: cuidar cada detalle del evento de forma enfermiza —desde las acreditaciones hasta la oferta gastronómica— para **transformar la asistencia en una experiencia**, sin olvidar nunca que lo más importante de la Tarugoconf, lo que verdaderamente la diferencia, son sus charlas.

    descriptions:
      - src: /img/what/c3po.svg
        alt: El robot C3PO de Star Wars
        title: Útil
        text: |
          Problemas reales y las soluciones aplicadas para superarlos, que podrás incorporar a tu caja de herramientas y aplicar en tu día a día.

      - src: /img/what/et.svg
        alt: ET enseñando el dedo iluminado
        title: Práctica
        text: |
          Un speaker de la Tarugoconf no habla de lo que ha leído sino de lo que ha vivido.

      - src: /img/what/mars-attack.svg
        alt: El marciano de la película Mars Attack
        title: Divertida
        text: |
          Lo contrario de «divertido» no es «serio» sino «aburrido» y lo único que está prohibido en la Tarugoconf es aburrirse.
        
      - src: /img/what/yoda.svg
        alt: Retrato de Yoda, de Star Wars
        title: Awesómica
        text: |
          Las charlas de la Tarugoconf se trabajan durante meses para que duren unos pocos minutos y se recuerden durante años.

    subtitle: ~~El problema~~ La oportunidad
    subintro: |
      El coronavirus nos ha obligado a que esta edición tenga que ser 100% online, pero **online no significa tener que tragarse 8 horas de charlas de gente hablando en un plano fijo desde su dormitorio.**
    subtext: |
        ### Zoom es para las videoconferencias, esto es una conferencia

        La #tarugo20 se grabará en un auténtico plató de TV con varias cámaras e iluminación de cine; y en vez de limitarnos a retransmitir charlas pensadas para un evento offline, **crearemos contenido adaptado al online y que aproveche todas las ventajas del medio:** interacción con ponentes y asistentes, concursos y sorteos en directo, reportajes pregrabados, la posibilidad de que el público retransmita su propio contenido (y consuma el creado por otros) y de que el que quiera haga networking REAL desde el sofá de su casa, gracias a un montón de dinamicas y juegos.

        ### En casa no puedes abstraerte de tu entorno, ni queremos que lo hagas

        El contenido de la #tarugo20 estará diseñado para **que pueda ser disfrutado desde el sofá de tu casa tanto por profesionales como por *muggles* sin conocimientos técnicos.** El nombre de esta edición especial no está escogido al azar. Esperamos que asistas al evento desde tu sofá, rodeado de la familia y amigos —con comida y bebida— y por eso pretendemos proporcionarte una experiencia **más parecida a «una mezcla de Late Night Show e Informe Semanal» que a una conferencia técnica.**
    
    features:
        - title: '**Charlas** awesómicas'
          src: /img/what/hall9000.svg
          alt: Imagen de Hall 9000
        - title: '**Reportajes** inéditos'
          src: /img/what/thing.svg
          alt: Imagen de un monolito
        - title: '**Concursos** y juegos'
          src: /img/what/games.svg
          alt: Imagen de un dado
        - title: '**Open** space'
          src: /img/what/box.svg
          alt: Pulpo saliendo de una caja
        - title: '**Interacción** total'
          src: /img/what/iteraction.svg
          alt: Guante con sensores
        - title: '**Networking** para todos'
          src: /img/what/network.svg
          alt: David Bonilla con un enchufe en la nuca, como en Matrix.

why:
    id: why
    title: Por qué
    intro: |
        Muchos nos habéis preguntado por qué nos metemos en este berenjenal, arriesgando el prestigio del evento construido a lo largo de cuatro ediciones presenciales con una edición exclusivamente online, cuando lo más fácil hubiera sido cancelar y volver en 2021.
        
    reasons:
      - title: Porque podemos
        text: Al contrario que otros eventos amigos como el T3chfest o la Lechazoconf, hemos tenido tiempo para reaccionar a la crisis sanitaria provocada por la COVID-19.

      - title: Porque queremos
        text: Nos negamos a tirar la toalla ante el virus o cualquier otra adversidad. Nos adaptaremos, pero nunca nos rendiremos.

      - title: Porque debemos
        text: Para honrar a las más de 350.000 personas que han fallecido por culpa del coronavirus y que tendremos siempre presentes, aunque no puedan acompañarnos.
    
    text: |
      En 2021, si todo sale bien, la Tarugoconf volverá a ser presencial, pero este año **tenemos la oportunidad de diseñar y construir entre todos el evento online al que siempre nos hubiera gustado ir.** ¿Nos acompañarás también en esta aventura?

calendar:
    id: calendar
    title: Agenda
    text: |
        Continuamos confirmando contenidos e invitados, pero aquí se podrá consultar siempre la última versión de la agenda.

        El **viernes 23 de octubre** se dedicará al evento principal, el **jueves 22** se impartirán talleres y tendrán lugar actividades de networking. Finalmente, el **sábado 24** por la mañana se celebrará la Tarugoff, un *Open Space* donde los asistentes podrán proponer sus propias charlas y asistir a las de otros y, por la tarde, se repetirán las charlas grabadas del viernes 23 con la participación en directo de los ponentes en el chat y en el turno de preguntas.
    
    days:
        - title: Jueves 22
          events:
            - hour: 10:00-12:00h
              title: Apertura de stands y Networking
              text: Podrás saludar a nuestros patrocinadores y conocer sus productos, servicios u oportunidades de empleo. Además podrás usar los slots de networking para celebrar 1:1 con otros asistentes del evento con los que compartas intereses y aficiones.
              
            - hour: 12:00-13:30h
              title: Talleres de Mañana 🛠️
              text: Talleres prácticos, diseñados para que un máximo de 25 asistentes puedan adquirir un nuevo superpoder que añadir a su "caja de herramientas profesionales".

            - hour: 15:01-16:00h
              title: Warm Up!
              text: Lorem ipsum

        - title: Viernes 23
          events:
            - hour: 15:00-16:00h
              title: Warm Up!
              text: Lorem ipsum

            - hour: 16:00-16:15h
              title: Keynote
              text: Lorem ipsum

            - hour: 17:00-17:35h
              speakers: cris-carrascosa
              title: CriptoCovid
              text: El Covid-19 ha supuesto una auténtica hecatombe para los mercados financieros internacionales. Las enormes cantidad de deuda generada por los distintos estados puede traducirse en una inflación desbocada, un escenario en la que activos como el dinero cripto han cobrado un inusitado protagonismo. En esta charla Cris nos contará <b>qué ha supuesto la pandemia para el mundo cripto</b> y los principales retos técnicos, económicos y legales a los que se enfrenta el mismo.

            - hour: 18:35-19:10h
              speakers: juanjo-montiel
              title: Lo veo todo negro 😎
              text: Juanjo tiene <em>algo</em> de experiencia superando dificultades. Estudió informática y ha acumulado más de 10 años de experiencia como desarrollador sin que el pequeño detalle de ser ciego de nacimiento le haya impedido alcanzar todas sus metas y objetivos.</br></br>En esta charla Juanjo nos mostrará cómo trabaja en su día a día, adaptando procesos y herramientas a su ceguera... y nos demostrará que, en demasiadas ocasiones, los que estamos ciegos somos nosotros. No sólo porque no seamos capaces de ver que una persona con una discapacidad puede ser igual de productiva o más que cualquiera, sino porque <b>podríamos aplicar muchas de las prácticas que emplea para incrementar nuestra propia productividad</b>, independientemente de lo poco o mucho que veamos.

            - hour: 20:35-21:10h
              speakers: marta-lopez
              title: Ciberseguridad en medio de una hecatombe zombie 🧟
              text: Una pandemia puede conseguir que todos nos encerremos en casa y que empresas con una fuerte cultura presencialista tengan que adoptar el trabajo remoto de un día para otro.</br></br>En esta charla conoceremos las buenas prácticas que debemos adoptar en esas circunstancias para <b>que, más allá del riesgo sanitario, la seguridad de nuestra información y nuestros servicios no corra peligro</b>... aprendiendo de los fallos y cagadas de otras compañías que NO las implementaron.

        - title: Sábado 24
          events:
            - hour: 15:00-16:00h
              title: Warm Up!
              text: Lorem ipsum

            - hour: 16:00-16:15h
              title: Keynote
              text: Lorem ipsum

            - hour: 16:00-16:15h
              title: Keynote
              text: Lorem ipsum

            - hour: 16:00-16:15h
              title: Keynote
              text: Lorem ipsum

speakers:
    id: speakers
    title: Speakers e invitados
    subtitle: |
        El «speaker» o ponente de la Tarugoconf no nace, [SE HACE](./speakers):

tickets:
    id: tickets
    title: Entradas
    text: |
        Hasta el 1 de agosto, las entradas estarán disponibles solo para los tarugos —los suscriptores de la Bonilista— que podrán adquirir las mismas a un precio especial. 

        *Los primeros 300 que compren su entrada podrán, además, asistir a La Beta, el ensayo general con contenido exclusivo que celebraremos en septiembre.
    
    types:
        - title: Early Tarugo
          subtitle: Hasta el 1 de agosto
          features:
            - Más de 10h de contenido en directo
            - Reestreno de ‘La Red’ en su 25o aniversario
            - Acceso a grabaciones de charlas y reportajes
            - Networking y Concursos
            - Propuesta/votación de charlas en Open Space
            - Camiseta del evento (enviada a tu casa)
          price: <del>75€</del> 50€ + IVA
          btn:
            text: Comprar
            class: button is-disabled
            url: #

        - title: Tarugo
          features:
            - Más de 10h de contenido en directo
            - Reestreno de ‘La Red’ en su 25o aniversario
            - Acceso a grabaciones de charlas y reportajes
            - Networking y Concursos
            - Propuesta/votación de charlas en Open Space
            - Camiseta del evento (enviada a tu casa)
          price: 75€ + IVA
          btn:
            text: Comprar
            class: button is-disabled
            url: #

        - title: Mecenas
          features:
            - 10 entradas de tipo Tarugo y, además…
            - Logo en la web
            - Mención en la Keynote
          price: 500€ + IVA
          btn:
            text: Contactar
            class: button is-disabled
            url: #

partners:
    id: partners
    title: Partners
    subtitle: Estas son las compañías que hacen que todo esto sea posible
    text: |
        Cada una de estas empresas ha decidido apoyarnos para que la Tarugoconf no tenga que bajar la persiana y, aunque sea temporalmente, se reconvierta en la conferencia online que siempre habíamos soñado.

        El año que viene volveremos a la normalidad, pero las miles de horas de vídeo, fotos, posts y tweets que generará esta edición registrarán para la posteridad cómo, en uno de los momentos más oscuros de nuestra Historia, colaboramos, nos adaptamos y sobrepusimos. Si quieres ser parte de este esfuerzo, consulta nuestras oportunidades de patrocinio. ¡Graciñas!
    
    main:
        - src: /img/logos/manfred.svg
          url: https://www.getmanfred.com/
          rel: noopener
          text: |
            We don't fill positions, we build careers.
  
            In the digital job market, there are countless recruiters looking for talent to fill their customers' open positions. We have a different approach: we look for the best positions for our candidates. Do you want to become one of them?
          alt: Manfred

    standard:
        - src: /img/logos/corunet.svg
          url: https://coru.net/
          rel: noopener
          text: Desarrollamos soluciones tecnológicas para grandes empresas.
          alt: Corunet
        - src: /img/logos/stackscale.png
          url: https://www.stackscale.com/
          rel: noopener
          text: Soluciones de cloud computing dedicadas para empresas, integradores IT e ISPs
          alt: Stackscale
        - src: /img/logos/bitergia.svg
          url: https://bitergia.com/
          rel: noopener
          text: Software Development Analytics for Your Peace of Mind
          alt: Bitergia
        - src: /img/logos/payvision.svg
          url: https://www.payvision.com/
          rel: noopener
          text: Payments. We get it.
          alt: Bitergia
        - src: /img/logos/deiser.svg
          url: https://www.deiser.com/
          rel: noopener
          text: We help you with Atlassian
          alt: Bitergia
        - src: /img/logos/redegal.svg
          url: https://www.redegal.com/
          rel: noopener
          text: Agencia de Marketing Online, publicidad y desarrollo ecommerce
          alt: Redegal
        - src: /img/logos/tecnofor.svg
          url: https://tecnofor.es/
          rel: noopener
          text: Consultoría y Formación en Agile e ITSM
          alt: Tecnofor
        - src: /img/logos/velneo.png
          url: https://velneo.es/
          rel: noopener
          text: Gana más desarrollando aplicaciones empresariales
          alt: Velneo
        - src: /img/logos/panel.svg
          url: https://www.panel.es/
          rel: noopener
          text: Creación Inteligente de software, sistemas y servicios TI
          alt: Panel Sistemas
        - src: /img/logos/autentia.svg
          url: https://www.autentia.com/
          rel: noopener
          text: Expertos en creación de software de calidad
          alt: Autentia
        - src: /img/logos/eventbrite.svg
          url: https://www.eventbrite.com/
          rel: noopener
          text: Discover Great Events or Create Your Own & Sell Tickets
          alt: Eventbrite
    
    patrons:
        - src: /img/logos/bliss-ventures.png
          url: http://bliss.ventures/
          rel: noopener
          alt: Bliss Ventures
        - src: /img/logos/str.svg
          url: https://www.strsistemas.com/
          rel: noopener
          alt: STR Sistemas
        - src: /img/logos/adagio.svg
          url: https://adagio.pro/
          rel: noopener
          alt: Adagio
        - src: /img/logos/digital55.svg
          url: https://www.digital55.com/
          rel: noopener
          alt: Digital55
    
    sponsor:
        title: ¿Te gustaría ser parte de la Tarugoconf?
        text: |
            En la tarugo intentamos huir de la figura del «sponsor» habitual y convertimos a nuestros patrocinadores en verdaderos socios, que son una parte más del evento: nos preocupamos por entender sus objetivos y personalizamos los paquetes de patrocinio para intentar alcanzarlos, trabajando mano a mano con ellos y creando relaciones que perduran a lo largo de los años.

            Si quieres ser parte de la próxima #tarugo20 puedes mandarnos un mail a [tarugoconf@bonillaware.com](mailto:tarugoconf@bonillaware.com)

        document: |
          <iframe
            frameborder="0"
            scrolling="yes"
            title="Descarga el dossier de patrocinio en PDF"
            src="https://drive.google.com/file/d/1XEOImLr7-1c6uC2_10Pt7QGxGY24BkMj/preview" 
            allowfullscreen=""
            loading="lazy">
          </iframe>

contact:
    id: contact
    title: Contacto
    manager:
        name: Bea Jiménez
        position: Event manager
        image:
          src: img/bea-jimenez.jpg
          alt: Bea Jiménez
        links: 
          - text: bea@bonillaware.com
            url: mailto:bea@bonillaware.com
          - text: '@beajmnz'
            icon: twitter
            url: https://twitter.com/beajmnz
            rel: noopener
    address: |
        **Bonillaware SLU**

        Castellana 194, Cink Coworking  
        28046 Madrid (España)
    
    links:
      - text: Ver mapa
        icon: gmaps
        url: https://g.page/cink-coworking?share
        rel: noopener
      - text: tarugoconf.slack.com
        icon: slack
        url: https://tarugoconf.slack.com
        rel: noopener
      - text: tarugoconf
        icon: twitter
        url: https://twitter.com/tarugoconf
        rel: noopener

faq:
    id: faq
    title: FAQ
    questions:
        - question: ¿Tenéis código de conducta?
          answer: |
            lorem ipsum

        - question: Si no puedo asistir ¿podré cancelar mi entrada?
          answer: |
            lorem ipsum

        - question: ¿La edición de 2021 también será sólo online?
          answer: |
            No, la Tarugoconf Sofá Edition será única e irrepetible, como las circunstancias en las que se organiza y celebra.
            
            Esperamos no tener que volver a celebrarla exclusivamente online, pero si este experimento sale bien, es probable que la Tarugo se convierta en un evento híbrido que pueda ser disfrutado presencialmente y desde casa.

        - question: ¿Puedo renunciar a que me envieís camisetas y goodies del evento?
          answer: |
            lorem ipsum

        - question: ¿Hay un número máximo de entradas?
          answer: |
            lorem ipsum
---

<div class="space-content">
    {% include "templates/navbar.njk" %}
    {% include "templates/header.njk" %}

    <figure class="video ly-section">
        <div id="video" class="video-ratio" data-id="434728665">
            <a href="https://vimeo.com/434728665">Presentación de la #tarugo20</a>
        </div>
    </figure>

    {% include "templates/what.njk" %}
    {% include "templates/why.njk" %}
    {% include "templates/calendar.njk" %}
    {% include "templates/speakers.njk" %}
    {% include "templates/tickets.njk" %}
    {% include "templates/partners.njk" %}
    {% include "templates/contact.njk" %}
    {% include "templates/faq.njk" %}
    {% include "templates/footer.njk" %}
</div>

<canvas class="space-stars js-space"></canvas>
