---
layout: layouts/base.njk
title: 'Tarugoff'
description: |
  Aqui descripción

menu:
  - text: ← Volver
    url: '/'
  - text: Opción 1
    url: '#las-charlas'
  - text: Opción 2
    url: '#beneficios'
  - text: Opción 3
    url: '#recursos'

ctas:
  - text: Enviar sesión
    url: '#tickets'
    class: button

header:
  title: 'Tarugoff'
  subtitle: 24 de octubre de 2020

what:
  title: Las charlas
  aside: |
    <strong>1</strong> solo track<br>
    <strong>20</strong> minutos de charla<br>
    +<strong>15</strong> de Q&A<br>
    <strong>5</strong> cámaras
    <strong>Sketchnoting</strong> en directo<br>
    <strong>Control</strong> de difusión audiovisual
    Alrededor de <strong>1.000</strong> asistentes

  text: |
    «Ningún discurso es demasiado corto». En la Tarugo creemos en las enseñanzas de los legendarios Kenneth Roman y Joel Raphaelson, por eso nuestras charlas «solo» duran 20 minutos. Eso sí, tenemos un turno de preguntas de 15 minutos —desarrollao en formato entrevista, sentado en un sofá, como en un *late night show*— que SIEMPRE se nos queda corto. ¡La interactuación con el público suele ser tan interesante como la charla en sí!

    No tendrás que competir con otro ponente. Hay un sólo track, así que **toda la atención del evento estará puesta en tu charla.**

    Más allá del tema, **tendrás total libertad para desarrollar tu charla.** Sólo te pediremos que sigas nuestro sencillo [código de conducta](/codigo-de-conducta).
    
    **La edición de 2020 será 100% online** así que stremearemos tu charla y la grabaremos, pero sólo la publicaremos si nos das tu consentimiento después de visionarla. Durante todo el proceso de creación de tu presentación, contarás con nuestro feedback y nuestra ayuda para **conseguir un resultado memorable.**

participate:
  title: Participar
  text: |
    Bla bla bla

    [Enviar sesión](#url){.button}

    ### ¿Cómo votar las sesiones?

    Bla bla bla

calendar:
    id: calendar
    title: Agenda
    text: |
        Continuamos confirmando contenidos e invitados, pero aquí podrás consultar siempre la última versión de la agenda.

        El **viernes 23 de octubre** se celebrará el evento principal, el **jueves 22** se impartirán talleres, tendrán disponible actividades de networking y *streamearemos* «La Red», una película que cualquier informático/a debería conocer.
        
        Finalmente, el **sábado 24** por la mañana se celebrará la Tarugoff, un *Open Space* donde los asistentes podrán proponer sus propias charlas y asistir a las de otros y, por la tarde, retransmitiremos el **Replay**, la repetición de las charlas grabadas el viernes con la participación en directo de los ponentes en el chat y en el turno de preguntas.
    
    events:
      - hour: 10:00-12:00h
        title: Apertura de Stands y Networking 🤝
        text: Podrás **saludar a nuestros patrocinadores y conocer sus productos, servicios u oportunidades de empleo**. Además, podrás usar los slots de networking para **celebrar 1:1 con otros asistentes del evento** con los que compartas intereses y aficiones.

event:
  title: Día del evento
  text: |
    Bla bla bla

faq:
    id: faq
    title: FAQ
    questions:      

        - question: Si finalmente no puedo asistir ¿podré cancelar mi entrada?
          answer: |
            Claro. Puedes cancelar tu entrada **hasta 30 días antes del evento**.

        - question: ¿Me daréis una factura de mi entrada para que se la pueda pasar a mi empresa o desgravarme el IVA?
          answer: |
            Sí. Las entradas se venden vía [Eventbrite](https://www.eventbrite.es/e/entradas-tarugoconf-sofa-edition-110980351218){target=_blank} que te pedirá datos fiscales en el proceso de compra y generará automaticamente una factura.

---

{% import "components.njk" as comp %}

{% include "templates/navbar.njk" %}

<header class="ly-section header">
    {% include "assets/logo.svg" %}

    <h1 class="header-title">{{ header.title }}</h1>
    <p class="header-subtitle">{{ header.subtitle | md(true) | trim | safe }}</p>
</header>

<figure class="video ly-section">
    <div id="video" class="video-ratio" data-id="305100749">
      <a href="https://vimeo.com/305100749">#tarugo3 / Andrés Torrubia / Haciendo posible lo imposible</a>
    </div>
</figure>

<div class="ly-section">
  <section class="talks" id="que">
    <h2 class="talks-title">{{ what.title }}</h2>
    <div class="talks-aside">{{ what.aside | safe }}</div>

    <div class="talks-text">
      {{ what.text | md | safe }}
    </div>
  </section>
</div>

<section class="ly-section calendar" id="{{ calendar.id }}">
    <header class="calendar-header">
        <h2>{{ calendar.title }}</h2>
    </header>

    <div class="calendar-text">
        {{ calendar.text | md | safe }}
    </div>

    <div class="calendar-day">
        <h4>{{ day.title }}</h4>

        <ul>
            {% for event in calendar.events %}
            <li class="{{ {"has-separator": event.separator} | class }}">
                <details class="calendar-event">
                    <summary class="calendar-event-header">
                        {{ event.hour }}

                        {% for id in event.speakers %}
                        {% for speaker in collections.speakers %}
                            {% if speaker.fileSlug == id %}
                            <img src="{{ speaker.data.image.thumbnail | url }}" alt="{{ speaker.data.image.alt }}" data-target="dialog-{{ id }}" class="js-openDialog" title="{{ speaker.data.title }}">
                            {% endif %}
                        {% endfor %}
                        {% endfor %}

                        <strong>{{ event.title }}</strong>
                    </summary>

                    <div class="calendar-event-text">
                        {{ event.text | md | safe }}
                    </div>
                </details>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<div class="ly-section">
  <section class="section is-center" id="participate">
    <header class="section-header">
      <h2 class="section-title">{{ participate.title }}</h2>
    </header>

    <div class="section-text">
      {{ participate.text | md | safe }}
    </div>
  </section>
</div>

<div class="ly-section">
  <section class="section" id="event">
    <header class="section-header">
      <h2 class="section-title">{{ event.title }}</h2>
    </header>

    <div class="section-text">
      {{ event.text | md | safe }}
    </div>
  </section>
</div>


{% include "templates/faq.njk" %}
{% include "templates/footer.njk" %}
