---
layout: layouts/base.njk
title: 'Tarugoff'
description: |
  Aqui descripción

menu:
  - text: ← Volver
    url: '/'
  - text: Qué
    url: '#what'
  - text: Participar
    url: '#participate'
  - text: Sesiones
    url: '#sessions'

ctas:
  - text: Enviar sesión
    url: '#tickets'
    class: button

header:
  title: 'Tarugoff'
  subtitle: 24 de octubre de 2020

what:
  title: Qué
  aside: |
    Por muy loco que suene, un
    evento gestionado por los 
    propios asistentes y con 
    una única regla:
    la <strong>Regla de los 2 Pies</strong>-
    Si la sesión no te aporta nada, 
    y tú no aportas nada, vete a 
    otra sesión.

  text: |
    La Tarugoff es un Open Space dentro de la Tarugoconf. Si no sabes lo que es un Open Space, puedes aprender más en el vídeo incluido en esta web, o en este [enlace](https://en.wikipedia.org/wiki/Open_Space_Technology).

    Siguiendo el modelo de desconferencia, los principios en los que se basa un Open Space son:

    * Las personas presentes son las que tienen que estar.
    * Lo que ocurra es lo que tiene que ocurrir.
    * Empezará en el momento adecuado.
    * Acabará cuando tenga que acabar.
    * Cualquier lugar es el lugar correcto.

    Ya, sabemos que se trata de un evento online, así que adaptaremos estas reglas para respetarlas lo máximo posible sin que esto sea un caos :-)

participate:
  title: Participar
  text: |
    Es posible que solo quieras asistir a las sesiones y tener una experiencia en la que pases desapercibido/a, pero si de verdad quieres sacar el mayor partido de la Tarugoff propón una sesión.
    
    Se pueden proponer sesiones de todos los tipos y temáticas, puedes ser novato o experta, puedes proponer una charla magistral o una mesa redonda, que la sesión se lleve a cabo tan solo depende del interés del resto de asistentes.
    
    Al ser online, la presentación de sesiones se realizará grabando un vídeo y enviándolo en el botón que dice "Enviar sesión".
    
    [Enviar sesión](#url){.button}

    ### ¿Cómo votar las sesiones?

    A medida que se vayan recibiendo las sesiones, crearemos una página en donde ver todos los vídeos, y se podrán votar en Twitter con los hashtags asignados a cada sesión. De esa manera daréis más visibilidad a la sesión y podremos calcular fácilmente el interés en cada sesión.

    ### ¿Y la agenda?

    Al ser online, la creación de la agenda no será colaborativa, sino que la creará la organización en función de las votaciones y la cantidad de sesiones simultáneas que creamos adecuada. 

    La agenda se publicará una semana antes del evento.

sessions:
  title: Sesiones
  text: |
    Acabamos de abrir el chiringuito, dadnos un poco de chance y enviadnos vuestras sesiones para que las podamos colocar en esta sección.

event:
  title: Día del evento
  text: |
    Aún es un poco pronto para hablar de ello, os mantendremos informados en esta web y mediante los canales de comunicación habituales.

faq:
    id: faq
    title: FAQ
    questions:      

        - question: Mi sesión no ha salido elegida, ¿y ahora qué hago?
          answer: |
            Es un evento online en donde no estamos restringidos por el espacio, así que nada más fácil. Coméntalo en el chat del evento y, si hay personas interesadas en hacer esa sesión de forma paralela a las propuestas, tan sólo tenéis que crear una sesión en vuestro sistema de video-conferencia favorito y relizar la sesión.

        - question: Si finalmente no puedo asistir, ¿podré cancelar mi entrada?
          answer: |
            Claro. Puedes cancelar tu entrada **hasta 30 días antes del evento**.

        - question: ¿Me daréis una factura de mi entrada para que se la pueda pasar a mi empresa o desgravarme el IVA?
          answer: |
            Sí. Las entradas se venden vía [Eventbrite](https://www.eventbrite.es/e/entradas-tarugoconf-sofa-edition-110980351218){target=_blank} que te pedirá datos fiscales en el proceso de compra y generará automaticamente una factura.

---

{% import "components.njk" as comp %}

{% include "templates/navbar.njk" %}

<header class="ly-section header">
    {% include "assets/logo.svg" %}

    <h1 class="header-title">{{ header.title }}</h1>
    <p class="header-subtitle">{{ header.subtitle | md(true) | trim | safe }}</p>
</header>

<figure class="video ly-section">
    <div id="video" class="video-ratio" data-id="305100749">
      <a href="https://vimeo.com/305100749">#tarugo3 / Andrés Torrubia / Haciendo posible lo imposible</a>
    </div>
</figure>

<div class="ly-section">
  <section class="talks" id="what">
    <h2 class="talks-title">{{ what.title }}</h2>
    <div class="talks-aside">{{ what.aside | safe }}</div>

    <div class="talks-text">
      {{ what.text | md | safe }}
    </div>
  </section>
</div>

<section class="ly-section calendar" id="{{ calendar.id }}">
    <header class="calendar-header">
        <h2>{{ calendar.title }}</h2>
    </header>

    <div class="calendar-text">
        {{ calendar.text | md | safe }}
    </div>

    <div class="calendar-day">
        <h4>{{ day.title }}</h4>

        <ul>
            {% for event in calendar.events %}
            <li class="{{ {"has-separator": event.separator} | class }}">
                <details class="calendar-event">
                    <summary class="calendar-event-header">
                        {{ event.hour }}

                        {% for id in event.speakers %}
                        {% for speaker in collections.speakers %}
                            {% if speaker.fileSlug == id %}
                            <img src="{{ speaker.data.image.thumbnail | url }}" alt="{{ speaker.data.image.alt }}" data-target="dialog-{{ id }}" class="js-openDialog" title="{{ speaker.data.title }}">
                            {% endif %}
                        {% endfor %}
                        {% endfor %}

                        <strong>{{ event.title }}</strong>
                    </summary>

                    <div class="calendar-event-text">
                        {{ event.text | md | safe }}
                    </div>
                </details>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<div class="ly-section">
  <section class="section is-center" id="participate">
    <header class="section-header">
      <h2 class="section-title">{{ participate.title }}</h2>
    </header>

    <div class="section-text">
      {{ participate.text | md | safe }}
    </div>
  </section>
</div>

<div class="ly-section">
  <section class="section" id="sessions">
    <header class="section-header">
      <h2 class="section-title">{{ sessions.title }}</h2>
    </header>

    <div class="section-text">
      {{ event.text | md | safe }}
    </div>
  </section>
</div>

<div class="ly-section">
  <section class="section" id="event">
    <header class="section-header">
      <h2 class="section-title">{{ event.title }}</h2>
    </header>

    <div class="section-text">
      {{ event.text | md | safe }}
    </div>
  </section>
</div>


{% include "templates/faq.njk" %}
{% include "templates/footer.njk" %}
