---
layout: layouts/base.njk
title: 'Tarugoff'
description: |
  Aqui descripción

menu:
  - text: ← Volver
    url: '/'
  - text: Qué
    url: '#what'
  - text: Participar
    url: '#participate'
  - text: Sesiones
    url: '#sessions'

ctas:
  - text: Enviar sesión
    url: 'https://forms.gle/i2RBFiR6mQApMA7J9'
    class: button
    target: _blank

header:
  title: 'Tarugoff'
  subtitle: 24 de octubre de 2020

what:
  title: Qué
  aside: |
    Por muy loco que suene, un
    evento gestionado por los 
    propios asistentes y con 
    una única regla:
    la <strong>Regla de los 2 Pies</strong>-
    Si la sesión no te aporta nada, 
    y tú no aportas nada, vete a 
    otra sesión.

  text: |
    La Tarugoff es un Open Space dentro de la Tarugoconf. Si no sabes lo que es un Open Space, puedes aprender más en el vídeo incluido en esta web, o en este [enlace](https://en.wikipedia.org/wiki/Open_Space_Technology).

    Siguiendo el modelo de desconferencia, los principios en los que se basa un Open Space son:

    * Las personas presentes son las que tienen que estar.
    * Lo que ocurra es lo que tiene que ocurrir.
    * Empezará en el momento adecuado.
    * Acabará cuando tenga que acabar.
    * Cualquier lugar es el lugar correcto.

    Ya, sabemos que se trata de un evento online, así que adaptaremos estos principios para respetarlos lo máximo posible sin que esto sea un caos :-)

participate:
  title: Participar
  intro: |
    Es posible que solo quieras asistir a las sesiones y tener una experiencia en la que pases desapercibido/a, pero si de verdad quieres sacar el mayor partido de la Tarugoff propón una sesión.
    
    Se pueden proponer sesiones de todos los tipos y temáticas, puedes ser novato o experta, puedes proponer una charla magistral o una mesa redonda, que la sesión se lleve a cabo tan solo depende del interés del resto de asistentes.
    
    Al ser online, la presentación de sesiones se realizará grabando un vídeo y enviándolo en el botón que dice "Enviar sesión".
  
  footer: |
    [Enviar sesión](https://forms.gle/i2RBFiR6mQApMA7J9){.button}

  text: |
    ### ¿Cómo votar las sesiones?

    Todas las sesiones presentadas están disponibles [aquí](/sesiones), desde donde podrás votarlas haciendo click en el botón «Votar». Nosotros nos encargaremos de revisar todos los tweets y actualizar las estadísticas.

    ### ¿Y la agenda?

    Al ser online, la creación de la agenda no será colaborativa, sino que la creará la organización en función de las votaciones y la cantidad de sesiones simultáneas que creamos adecuada. 

    La agenda se publicará una semana antes del evento.

sessions:
  title: Sesiones
  footer: |
    [Ver sesiones](/sesiones){.button .is-secondary}
  text: |
    Nada más sencillo, todas las sesiones están disponibles en la web en dónde podrás verlas a tu propio ritmo y votarlas fácilmente haciendo uso del botón «Votar».

event:
  title: Día del evento
  text: |
    El día de la Tarugoff tendremos un streaming en Brella por cada track, pero si se trata de una sesión colaborativa y quieres participar, tendrás que conectarte a la herramienta de vídeo-conferencia que seleccionemos.

faq:
    id: faq
    title: FAQ
    questions:      

        - question: Mi sesión no ha salido elegida, ¿y ahora qué hago?
          answer: |
            Es un evento online en donde no estamos restringidos por el espacio, así que nada más fácil. Coméntalo en el chat del evento y, si hay personas interesadas en hacer esa sesión de forma paralela a las propuestas, tan sólo tenéis que crear una sesión en vuestro sistema de video-conferencia favorito y relizar la sesión.

        - question: ¿De qué temas se pueden hablar?
          answer: |
            En honor al espíritu abierto de un Open Space, se puede proponer cualquier tema. Pero en un evento basado en desarrollo de producto, es posible que no haya gente experta en el cultivo de la vid, por lo que es más productivo limitarse a la temática propuesta. Desarrollo de producto es una temática bastante amplia que abarca desde aspectos técnicos a logísticos, pasando por marketing, financiación, diseño y un largo etcétera.

---

{% import "components.njk" as comp %}

<link href="{{ '/css/off.css' | url }}" rel="stylesheet">

{% include "templates/navbar.njk" %}

<header class="ly-section headerOff">
    {% include "assets/logo-off.svg" %}

    <h1 class="headerOff-title">{{ header.title }}</h1>
    <p class="headerOff-subtitle">{{ header.subtitle | md(true) | trim | safe }}</p>
</header>

<figure class="video ly-section">
    <div id="video" class="video-ratio" data-id="456634375">
      <a href="https://vimeo.com/456634375">#tarugoff</a>
    </div>
</figure>

<div class="ly-section">
  <section class="talks" id="what">
    <h2 class="talks-title">{{ what.title }}</h2>
    <div class="talks-aside">{{ what.aside | safe }}</div>

    <div class="talks-text">
      {{ what.text | md | safe }}
    </div>
  </section>
</div>

<section class="ly-section calendar" id="{{ calendar.id }}">
    <header class="calendar-header">
        <h2>{{ calendar.title }}</h2>
    </header>

    <div class="calendar-text">
        {{ calendar.text | md | safe }}
    </div>

    <div class="calendar-day">
        <h4>{{ day.title }}</h4>

        <ul>
            {% for event in calendar.events %}
            <li class="{{ {"has-separator": event.separator} | class }}">
                <details class="calendar-event">
                    <summary class="calendar-event-header">
                        {{ event.hour }}

                        {% for id in event.speakers %}
                        {% for speaker in collections.speakers %}
                            {% if speaker.fileSlug == id %}
                            <img src="{{ speaker.data.image.thumbnail | url }}" alt="{{ speaker.data.image.alt }}" data-target="dialog-{{ id }}" class="js-openDialog" title="{{ speaker.data.title }}">
                            {% endif %}
                        {% endfor %}
                        {% endfor %}

                        <strong>{{ event.title }}</strong>
                    </summary>

                    <div class="calendar-event-text">
                        {{ event.text | md | safe }}
                    </div>
                </details>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<div class="ly-section">
  <section class="participate" id="participate">
      <h2 class="participate-title">{{ participate.title }}</h2>

      <div class="participate-intro">
        {{ participate.intro | md | safe }}
      </div>

      <footer class="participate-footer">
        {{ participate.footer | md | safe }}
      </footer>

      <div class="participate-text">
        {{ participate.text | md | safe }}
      </div>
  </section>
</div>

<div class="ly-section">
  <section class="section" id="sessions">
    <header class="section-header">
      <h2 class="section-title">{{ sessions.title }}</h2>
    </header>

    <div class="section-text">
      {{ sessions.text | md | safe }}
    </div>

    <footer class="participate-footer">
        {{ sessions.footer | md | safe }}
      </footer>
  </section>
</div>

<div class="ly-section">
  <section class="section" id="event">
    <header class="section-header">
      <h2 class="section-title">{{ event.title }}</h2>
    </header>

    <div class="section-text">
      {{ event.text | md | safe }}
    </div>
  </section>
</div>


{% include "templates/faq.njk" %}
{% include "templates/footer.njk" %}
