html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
    font: var(--font-normal);
    color: var(--color-white);
    background-color: var(--color-dark);
}
body {
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

figure {
    margin: 0;
    padding: 0;
}
b, strong {
    font-weight: var(--font-weight-bold);
}
p {
    margin: .5em 0;
}