.scene {
    width: 100%;
    grid-column: 1 / -1;
    overflow: hidden;

    & svg {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    & > .scene-figure {
        display: block;
        width: max-content;
        margin: 0;
        animation-fill-mode: both;
    }

    & > .scene-tile {
        display: block;
        margin: 0;
        animation-fill-mode: both;
    }

    & > .scene-background {
        display: block;
        width: 100%;
        grid-column: 1 / -1;
    }
}

/* Moon Top */
.scene-moonTop {
    margin-top: 8vh;
    margin-bottom: -1px;
    overflow: visible;

    & > .scene-figure {
        margin: 0 auto calc(-60px - 3vw);
        position: relative;
        animation-name: scene-moonTop-astronaut;
        animation-duration: 10s;
        max-width: calc(120px + 2vw);

        & svg {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            display: block;
            width: 100px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--color-primary);
            margin: auto;
            animation: scene-moonTop-astronaut-shadow 10s;
            animation-fill-mode: both;
        }
    }
}

/* Moon Bottom */
.scene-moonBottom {
    margin-top: -5vw;
    margin-bottom: -10vw;

    & > .scene-background {
        transform: scaleY(-1);
    }
}

/* Plató */
.scene-set {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;

    & > * {
        position: relative;
    }

    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-height: 650px) {
        grid-template-rows: auto auto;
    }

    & > .is-guest {
        grid-column: 1;
        grid-row: 1;

        @media (min-width: 700px) {
            grid-column: 2;
        }
    }
    & > .is-presenter {
        grid-column: 2;
        grid-row: 1;

        @media (min-width: 700px) {
            grid-column: 3;
        }
    }
    & > .is-band {
        grid-column: 1 / 3;
        grid-row: 1;
        display: none;

        @media (min-width: 700px) {
            display: block;
        }

        & svg:hover {
            will-change: transform;
            transform-origin: 25% bottom;
        }

        & svg:hover {
            animation-name: shake;
            animation-duration: .5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
    & > .is-audience {
        grid-column: 1 / -1;
        grid-row: 2;
        display: none;

        @media (min-height: 650px) and (min-width: 500px)  {
            display: block;
            transform: translateY(calc(20px + (var(--scale, 0) * -100px)));
            will-change: transform;
            margin-bottom: -100px;
        }
    }
    & > .is-audience-2 {
        grid-column: 1 / -1;
        grid-row: 2;
        display: none;

        @media (min-height: 650px) and (min-width: 500px) {
            display: block;
            transform: translateY(calc(20px + (var(--scale, 0) * -125px)));
            will-change: transform;
            margin-bottom: -100px;
        }
    }
    & > .is-presenter-bg {
        grid-column: 2;
        grid-row: 1;
        transform: translateY(calc(var(--scale, 0) * 100px - 50px));
        will-change: transform;

        @media (min-width: 700px) {
            grid-column: 3;
        }
    }
    & > .is-window-big {
        grid-column: 1 / 3;
        grid-row: 1;
        display: none;

        @media (min-width: 700px) {
            display: block;
            transform: translateY(calc(var(--scale, 0) * 100px - 50px));
            will-change: transform;
        }
    }
    & > .is-window-small {
        grid-column: 1;
        grid-row: 1;
        transform: translateY(calc(var(--scale, 0) * 100px - 50px));

        @media (min-width: 700px) {
            display: none;
        }
    }
    & > .is-sofa {
        grid-column: 1;
        grid-row: 1;

        @media (min-width: 700px) {
            grid-column: 2;
        }
    }
}


/* Satélite */
.scene-satellite {
    padding: 80px 0;
    margin-top: -120px;
    margin-bottom: -80px;

    & > .scene-figure {
        max-width: 250px;
        margin: auto;
        animation-name: scene-satellite;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}


/* Papel hixiénico */
.scene-paper {
    padding: 80px 0 40px 0;
    margin-bottom: -80px;

    & > .scene-figure {
        max-width: 200px;
        margin: auto;
        animation-name: scene-paper-cart;
        animation-duration: 90s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

/* Nave Enterprise */
.scene-spaceship {
    padding-top: 5vh;
    padding-bottom: 100px;

    & > .scene-figure {
        animation-name: scene-spaceship-enterprise;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin: auto;

        & svg {
            width: 400px;
        }
    }
}

/* Sofa */
.scene-sofa {
    margin-top: 10vw;
    margin-bottom: -1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    & > .scene-background {
        margin-bottom: -1px;
    }

    & > .scene-tile {
        background-color: var(--color-skyline);
        grid-column: 1;
        grid-row: 2;
        align-self: end;

        & svg {
            transform: translateY(calc(var(--scale, 0) * -150px));
            will-change: transform;
            max-width: 800px;
            width: 100%;
        }
    }
}

@keyframes scene-satellite {
    from {
        transform: translateX(-20vw) rotate(60deg);
    }
    to {
        transform: translateX(20vw) rotate(-60deg);
    }
}

@keyframes scene-paper-cart {
    from {
        transform: translate(-25vw, 20px) rotate(60deg);
    }
    to {
        transform: translate(25vw, -20px) rotate(-360deg);
    }
}

@keyframes scene-moonTop-astronaut {
    from {
        transform: translate(20px, -100px);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes scene-moonTop-astronaut-shadow {
    from {
        transform: translateY(130px) scale(2);
        filter: blur(5px);
    }
    to {
        transform: translateY(-30px) scale(1);
        filter: none;
    }
}
@keyframes scene-spaceship-enterprise {
    0% {
        transform: translate(0, 0);
    }
    12% {
        transform: translate(35px, 15px);
    }
    25% {
        transform: translate(50px, 50px);
    }
    37% {
        transform: translate(35px, 85px);
    }
    50% {
        transform: translate(0px, 100px);
    }
    62% {
        transform: translate(-35px, 85px);
    }
    75% {
        transform: translate(-50px, 50px);
    }
    87% {
        transform: translate(-35px, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(-5px) rotate(1deg);
    }
    20% {
        transform: translateX(5px) rotate(-1deg);
    }
    40% {
        transform: translateX(-5px) rotate(2deg);
    }
    60% {
        transform: translateX(5px) rotate(-2deg);
    }
    80% {
        transform: translateX(-5px) rotate(1deg);
    }
    100% {
        transform: translateX(-5px) rotate(-1deg);
    }
}