:root {
    /* Colors */
    --color-black: #222;
    --color-white: #fff;
    --color-gray: #666;
    --color-gray-light: #efefee;

    /* Fonts */
    --font-family: system-ui, sans-serif;

    --scale: 1.2;
    --font-size-small: .9rem;
    --font-size-normal: calc(var(--font-size-small) * var(--scale));
    --font-size-medium: calc(var(--font-size-normal) * var(--scale));
    --font-size-big: calc(var(--font-size-medium) * var(--scale));
    --font-size-xxbig: calc(var(--font-size-medium) * (var(--scale) * 2));

    @media (min-width: 400px) {
        --scale: 1.3;
    }
    @media (min-width: 750px) {
        --scale: 1.4;
    }
    @media (min-width: 1100px) {
        --scale: 1.5;
    }

    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --font-weight-xbold: 700;

    --font-small: var(--font-weight-normal) var(--font-size-small) / 1.5 var(--font-family);
    --font-small-bold: var(--font-weight-bold) var(--font-size-small) / 1.5 var(--font-family);

    --font-normal: var(--font-weight-normal) var(--font-size-normal) / 1.5 var(--font-family);
    --font-normal-bold: var(--font-weight-bold) var(--font-size-normal) / 1.5 var(--font-family);

    --font-medium: var(--font-weight-normal) var(--font-size-medium) / 1.25 var(--font-family);
    --font-medium-bold: var(--font-weight-bold) var(--font-size-medium) / 1.25 var(--font-family);
    --font-spacing-medium: -0.01em;

    --font-big: var(--font-weight-normal) var(--font-size-big) / 1.1 var(--font-family);
    --font-big-bold: var(--font-weight-xbold) var(--font-size-big) / 1.1 var(--font-family);
    --font-spacing-big: -0.015em;

    --font-xxbig: var(--font-weight-normal) var(--font-size-xxbig) / 1 var(--font-family);
    --font-xxbig-bold: var(--font-weight-xbold) var(--font-size-xxbig) / 1 var(--font-family);
    --font-spacing-xxbig: -0.02em;

    /* Spacing */
    --column-gap: var(--font-size-big);
    --row-gap: var(--font-size-big);
}

@custom-media --from-width-1 (max-width: 400px);
@custom-media --to-width-1 (min-width: 401px);

@custom-media --from-width-2 (max-width: 800px);
@custom-media --to-width-2 (min-width: 801px);

@custom-media --from-width-3 (max-width: 1000px);
@custom-media --to-width-3 (min-width: 1001px);
