.button {
    font: var(--font-normal-bold);
    padding: .3em .9em;
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-dark);
    border-radius: var(--radius);
    border: none;
    transition: background-color var(--duration);
    box-shadow: 0 1px 1px var(--color-primary-dark);
    cursor: pointer;
    
    &:hover {
        background-color: var(--color-primary-light);
        box-shadow: 0 1px 20px var(--color-primary);
        position: relative;
    }

    &.is-secondary {
        background: var(--color-smoke);
        box-shadow: 0 1px 1px var(--color-dark-light);

        &:hover:not(:disabled) {
            background-color: var(--color-light);
            box-shadow: 0 1px 20px var(--color-light);
        }
    }

    &:focus {
        outline: dotted 1px var(--color-primary);
        outline-offset: 5px;
    }
    &.is-disabled,
    &:disabled {
        pointer-events: none;
        cursor: default;
        opacity: .2;
    }
}

.buttonGroup {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
    align-items: center;

    & > * + * {
        margin-left: 5px;
    }

    &.is-center {
        justify-content: center;
        margin: auto;
    }
}