.button {
    font: var(--font-normal-bold);
    padding: .3em 1em;
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-dark);
    border-radius: var(--radius);
    transition: background-color var(--duration);
    box-shadow: 0 1px 10px var(--color-primary-dark);
    
    &:hover {
        background-color: var(--color-primary-light);
        box-shadow: 0 1px 20px var(--color-primary);
    }
}

.buttonGroup {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;

    & > * + * {
        margin-left: .3em;
    }
}