.icon {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 5px;
    border-radius: var(--radius);

    & svg {
        display: block;
        width: 32px;
        height: 32px;
    }

    & path {
        fill: currentColor;
    }

    &:hover {
        background: currentColor;

        & svg {
            color: var(--color-black);
        }
    }
}
