/* Moon Top */
.scene-moonTop {
    width: 100%;
    grid-column: 1 / -1;
    margin-top: 8vh;
    margin-bottom: -1px;
}
.scene-moonTop-astronaut {
    display: block;
    margin: 0 auto calc(-60px - 3vw);
    position: relative;
    animation: scene-moonTop-astronaut 10s;
    animation-fill-mode: both;
    width: calc(100px + 2vw);

    & svg {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 2;
    }

    &::after {
        content: '';
        display: block;
        width: 100px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color-primary);
        margin: auto;
        animation: scene-moonTop-astronaut-shadow 10s;
        animation-fill-mode: both;
    }
}
.scene-moonTop-background {
    display: block;
    width: 100%;

    & svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* Moon Bottom */
.scene-moonBottom {
    width: 100%;
    grid-column: 1 / -1;
    margin-top: -5vw;
    margin-bottom: -10vw;
}
.scene-moonBottom-background {
    display: block;
    width: 100%;
    transform: scaleY(-1);

    & svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* Plató */
.scene-set {
    display: grid;
    overflow: hidden;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding-bottom: 100px;

    & svg {
        display: block;
        width: 100%;
        height: auto;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-height: 650px) {
        grid-template-rows: 1fr;
    }
}
.scene-set-guest {
    grid-column: 2;
    grid-row: 1;
}
.scene-set-presenter {
    grid-column: 3;
    grid-row: 1;
}
.scene-set-band {
    grid-column: 1 / 3;
    grid-row: 1;
}
.scene-set-audience {
    grid-column: 1 / 4;
    grid-row: 2;
}
.scene-set-presenter-bg {
    grid-column: 3 / 4;
    grid-row: 1;
}
.scene-set-window-big {
    grid-column: 1 / 3;
    grid-row: 1;
}
.scene-set-window-small {
    grid-column: 2 / 3;
    grid-row: 1;
}
.scene-set-sofa {
    grid-column: 2 / 3;
    grid-row: 1;
}

/* Papel hixiénico */
.scene-paper {
    width: 100%;
    grid-column: 1 / -1;
    padding: 80px 0 40px 0;
    position: relative;
    overflow: hidden;
}

.scene-paper-cart {
    display: block;
    width: 200px;
    margin: auto;
    animation: scene-paper-cart 90s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    & svg {
        display: block;
        width: 100%;
        height: auto;
    }
}



/* Spaceship */
.scene-spaceship {
    width: 100%;
    grid-column: 1 / -1;
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}
.scene-spaceship-enterprise {
    animation: scene-spaceship-enterprise 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;

    & svg {
        display: block;
        max-width: 100%;
        width: 400px;
        height: auto;
    }
}



/* Sofa */
.scene-sofa {
    width: 100%;
    grid-column: 1 / -1;
    margin-top: 10vw;
    margin-bottom: -1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.scene-sofa-background {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    margin-bottom: -1px;

    & svg {
        display: block;
        width: 100%;
        height: auto;
    }
}
.scene-sofa-logo {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 100px;
    align-self: end;

    & svg {
        display: block;
        width: 500px;
        height: auto;
        max-width: 90vw;
        margin: auto;
    }
}
.scene-sofa-people {
    background-color: var(--color-skyline);
    display: block;
    grid-column: 1;
    grid-row: 2;
    align-self: end;

    & svg {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
    }
}

@keyframes scene-paper-cart {
    from {
        transform: translate(-500px, 20px) rotate(60deg);
    }
    to {
        transform: translate(500px, -20px) rotate(-360deg);
    }
}

@keyframes scene-moonTop-astronaut {
    from {
        transform: translate(20px, -100px);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes scene-moonTop-astronaut-shadow {
    from {
        transform: translateY(130px) scale(2);
        filter: blur(5px);
    }
    to {
        transform: translateY(-30px) scale(1);
        filter: none;
    }
}
@keyframes scene-spaceship-enterprise {
    0% {
        transform: translate(0, 0);
    }
    12% {
        transform: translate(35px, 15px);
    }
    25% {
        transform: translate(50px, 50px);
    }
    37% {
        transform: translate(35px, 85px);
    }
    50% {
        transform: translate(0px, 100px);
    }
    62% {
        transform: translate(-35px, 85px);
    }
    75% {
        transform: translate(-50px, 50px);
    }
    87% {
        transform: translate(-35px, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}