.calendar {
    padding: var(--row-gap) 0;
}
.calendar-header {
    text-align: center;
    
    & h2 {
        font: var(--font-big-bold);
        letter-spacing: var(--font-spacing-big);
    }
}
.calendar-header,
.calendar-text {
    max-width: 41em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.calendar-days {
    list-style: none;
    margin: var(--row-gap) 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(300px, 900px);
    justify-content: center;
    align-items: start;

    & > li {
        grid-column: 1;
        grid-row: 1;
        width: 400px;
        max-width: calc(100vw - var(--row-gap) * 2);
        transform: scale(.9);
        transition-property: transform;
        transition-duration: .5s;

        & > * {
            pointer-events: none;
        }

        & ul {
            background: var(--color-gray-xlight);
            box-shadow: 0 0 50px rgba(0,0,0,0.5);
        }

        &:nth-child(1) {
            justify-self: start;
            z-index: 3;

            @media (min-width: 700px) {
                transform-origin: left center;
            }
        }
        &:nth-child(2) {
            justify-self: center;
            z-index: 2;

            @media (min-width: 700px) {
                transform-origin: center center;
            }
        }
        &:nth-child(3) {
            justify-self: end;
            z-index: 1;

            @media (min-width: 700px) {
                transform-origin: right center;
            }
        }

        &.is-front {
            transform: scale(1);
            position: relative;
            z-index: 4;

            & ul {
                box-shadow: 0 0 100px rgba(0,0,0,0.8);
                background: var(--color-white);
            }
            & > * {
                pointer-events: all;
            }
        }

        &.is-back {
            transform: scale(.8);
            position: relative;
            z-index: 0;

            @media (min-width: 700px) {
                &:nth-child(1) {
                    transform: scale(.8) translateX(100px);
                }
                &:nth-child(3) {
                    transform: scale(.8) translateX(-100px);
                }
            }

            & ul {
                background: var(--color-gray-light);
            }
        }

        &:not(.is-front) {
            cursor: pointer;

            &:hover ul {
                outline: solid 6px var(--color-primary)
            }
        }
    }
}
.calendar-day {
    & h4 {
        margin: .5em 0;
        font: var(--font-normal-bold);
        text-align: center;
    }

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: var(--color-white);
        color: var(--color-black);
        box-shadow: 0 2px 5px #0003;
    }
    & li:nth-child(even) {
        background: var(--color-gray-alpha);
    }
}

.calendar-days > li:not(.is-front) h4 {
    color: var(--color-gray-light);

    @media (max-width: 850px) {
        opacity: 0;
    }
}

.calendar-event-header {
    font: var(--font-small);
    padding: 1em;

    & strong {
        display: block;
        font: var(--font-normal-bold);
    }

    & img {
        width: 20px;
        height: 20px;
        margin-left: 1em;
        border-radius: 2px;
        object-fit: cover;
        float: right;
    }
}
.calendar-event-text {
    padding: 1em;
    font: var(--font-small);
}
.calendar-buttons {
    display: flex;
    justify-content: center;
}