.header {
    text-align: center;
    padding: var(--row-gap) 0 0;
    align-content: center;
    justify-items: center;

    & .logo {
        width: 250px;
        max-width: 40vw;
        margin-top: 3vh;
    }
}
.header-title {
    font: var(--font-xbig-bold);
    letter-spacing: var(--font-spacing-xbig);
    max-width: 11em;
    margin-bottom: 0;
    margin-top: .2em;
}
.header-subtitle {
    font: var(--font-normal);
    max-width: 25em;
    margin-bottom: auto;
    color: var(--color-shadow);
}
.header-video {
    background: var(--color-white);
}