.header {
    text-align: center;
    padding: var(--row-gap) 0 0;
    align-content: center;
    justify-items: center;

    & .logo {
        width: 300px;
        max-width: 40vw;
        margin-top: 5vh;
    }
}
.header-title {
    font: var(--font-xbig-bold);
    letter-spacing: var(--font-spacing-xbig);
    max-width: 15em;
    margin-bottom: 0;
}
.header-subtitle {
    font: var(--font-normal);
    max-width: 25em;
    margin-bottom: auto;
    color: #90A5C4;
}