.partners {
    padding: var(--row-gap) 0 0;
    background-image: linear-gradient(to bottom, var(--color-sky-alpha), var(--color-sky));
    background-repeat: no-repeat;
}

.partners-header {
    margin-bottom: var(--row-gap);

    & h2 {
        font: var(--font-big-bold);
        letter-spacing: var(--font-spacing-big);
        margin: 0;
    }

    & p {
        font: var(--font-medium);
        letter-spacing: var(--font-spacing-medium);
        margin: 0;
    }
}

.partners-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    text-align: center;

    &.is-patrons {
        grid-template-columns: repeat(auto-fill, 100px);
    }

    &.is-main {
        grid-template-columns: repeat(auto-fill, 320px);
        text-align: left;
    }
}
.partners-company {
    font: var(--font-small);
    margin: var(--row-gap) 0;

    & img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.partners-sponsor {
    & h3 {
        font: var(--font-medium-bold);
        letter-spacing: var(--font-spacing-medium);
        margin: 0;
    }
}