.partners {
    padding: var(--row-gap) 0 0;
    background-image: linear-gradient(to bottom, var(--color-sky-alpha), var(--color-sky));
    background-repeat: no-repeat;
}

.partners-content {
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    align-items: start;
    grid-template-areas: 'title' 'text' 'logos';
    margin-bottom: 20vh;

    @media (min-width: 850px) {
        grid-template-columns: minmax(min-content, 22rem) 1fr;
        grid-template-areas: 'title text' 'title logos';
    }
}

.partners-text {
    grid-area: text;
    font: var(--font-normal);
    margin: 0;
}

.partners-header {
    margin-bottom: var(--row-gap);
    grid-area: title;

    & h2 {
        font: var(--font-big-bold);
        letter-spacing: var(--font-spacing-big);
        margin: 0;
    }

    & p {
        font: var(--font-medium);
        letter-spacing: var(--font-spacing-medium);
        margin: 0;
    }

    @media (min-width: 850px) {
        margin: 0;
        position: sticky;
        top: 6rem;
    }
}

.partners-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    text-align: center;

    &.is-patrons {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    &.is-main {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        text-align: left;

        @media (max-width: 420px) {
            grid-template-columns: 1fr;
        }
    }

    & + .partners-list {
        margin-top: var(--row-gap);
        padding-top: var(--row-gap);
        border-top: solid 1px #fff3;
    }
}
.partners-company {
    font: var(--font-small);

    & img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.partners-sponsor {
    color: var(--color-skyline);
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    align-items: start;
    grid-template-areas: 'title' 'text' 'document';

    @media (min-width: 850px) {
        grid-template-columns: minmax(min-content, 22rem) 1fr;
        grid-template-areas: 'title text' 'title document';
    }
}
.partners-sponsor-title {
    grid-area: title;
    font: var(--font-big-bold);
    letter-spacing: var(--font-spacing-big);
    margin: 0;

    @media (min-width: 850px) {
        margin: 0;
        position: sticky;
        top: 6rem;
    }
}
.partners-sponsor-text {
    grid-area: text;
    font: var(--font-normal);
    margin: 0;

    & a {
        color: inherit;
        font-weight: var(--font-weight-bold);
    }
}
.partners-sponsor-document {
    grid-area: document;

    & iframe {
        display: block;
        width: 100%;
        height: 600px;
        max-height: 80vh;
    }
}