.sessions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    grid-column-gap: var(--column-gap);
    grid-row-gap: calc(var(--row-gap) * 2);
    padding: var(--row-gap) var(--column-gap);
    justify-content: center;

    @media (min-width: 750px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
.session {
  display: grid;
  grid-template-areas: 'video' 'header' 'footer';

  &[hidden] {
    display: none;
  }
}
.session-header {
  grid-area: header;
}
.session-footer {
  grid-area: footer;
  margin-top: 10px;

  & .button {
    display: block;
    text-align: center;
  }
}
.session-title {
  font: var(--font-normal-bold);
  line-height: 1.3;
  margin-bottom: 10px;
}
.session-tags {
  font: var(--font-small);
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;

  & > li {
    display: inline-block;
    padding: .2em .5em;
    margin: 0 .5em .5em 0;
    background: var(--color-sky);
    border-radius: var(--radius);
  }
}
.session-stars {
  font: var(--font-normal-bold);
  display: inline-block;
  vertical-align: middle;
  color: var(--color-primary-dark);
}
.session-video {
  grid-area: video;
  & iframe {
    max-width: 100%;
    display: block;
  }
}