.speakers {
    padding: var(--row-gap) 0;
}
.speakers-header {
    text-align: center;
    margin-bottom: 2em;
    
    & h2 {
        font: var(--font-big-bold);
        letter-spacing: var(--font-spacing-big);
        margin-bottom: 0;
    }

    & p {
        font: var(--font-normal);
    }
    & a {
        color: var(--color-primary);
        font-weight: var(--font-weight-bold);

        &:hover {
            text-decoration: none;
            color: var(--white);
        }
    }
}
.speakers-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > li {
        margin: 10px;
        width: 320px;
        max-width: 100%;
    }
}

.speaker {
    background: linear-gradient(var(--color-shadow), var(--color-skin)), linear-gradient(to bottom, #0009, #0006), var(--image) no-repeat center top;
    background-size: cover;
    background-blend-mode: color, luminosity;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    text-shadow: 0 1px 2px #000;
    min-height: 340px;
    border-radius: var(--radius);
    cursor: pointer;

    &:hover {
        outline: solid 6px var(--color-primary)
    }
}
.speaker-title {
    font: var(--font-medium-bold);
    margin: 0;
}
.speaker-company {
    font: var(--font-normal);
    margin: 0;
}
.speaker-position {
    font: var(--font-small);
    margin: 0;
}
.speaker-contact {
    margin-top: auto;
    text-align: right;
}
.speaker-links {
    font: var(--font-small);
    color: var(--color-dark-light);
    grid-area: links;

    & a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: var(--color-dark);
            text-decoration: underline;
        }
    }
    & .icon {
        vertical-align: middle;
    }
}
.speaker-photo {
    grid-area: photo;

    & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius) 0 0 var(--radius);
    }
}
.speaker-modal-header {
    grid-area: header;
}
.speaker-bio {
    font: var(--font-small);
    grid-area: bio;
}
.speaker-calendar {
    list-style: none;
    margin: 0;
    padding: 0;
    font: var(--font-small);
    grid-area: calendar;

    @media (max-width: 900px) {
        padding-bottom: var(--row-gap);
    }
}

.speaker-modal {
    width: 100%;
    border: none;
    max-width: 900px;
    border-radius: var(--radius);
    box-shadow: 0 5px 100px #000;
    padding: 0;
    position: fixed;
    top: 50%;
    animation-fill-mode: both;
    transform: translateY(-50%);

    &[open] {
        animation: showModal var(--duration);
    }

    & + .backdrop {
        background-color: #0009;
    }
    & ::backdrop {
        background-color: #0009;
    }

    @media (max-width: 900px) {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.speaker-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-dark);
    color: var(--color-white);
    border: none;
    font: var(--font-normal-bold);
    padding: .5em 1em;
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    cursor: pointer;

    &:focus {
        outline: dotted 1px var(--color-gray);
        outline-offset: 5px;
    }
    &:hover {
        background-color: var(--color-primary);
    }
}

.speaker-modal-content {
    display: grid;
    grid-row-gap: var(--row-gap);
    grid-column-gap: var(--column-gap);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    grid-template-areas: 'photo . .'
                         'photo header .'
                         'photo links .'
                         'photo bio .'
                         'photo calendar .'
                         'photo . .';

    @media (max-width: 800px) {
        grid-template-columns: 0 1fr 0;
        grid-template-rows: 0 auto auto minmax(200px, 40vh) auto auto;
        grid-template-areas: '. . .'
                         '. header .'
                         '. links .'
                         'photo photo photo'
                         '. bio .'
                         '. calendar .';
    }
}

@keyframes showModal {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}
