.speakers {
    padding: var(--row-gap) 0;
}
.speakers-header {
    & h2 {
        font: var(--font-big-bold);
        letter-spacing: var(--font-spacing-big);
        margin: 0;
    }
}
.speakers-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    & > li {
        margin: 10px;
        border: dashed 1px green;
    }
}
