.tickets {
    padding: var(--row-gap) 0;
}

.tickets-header {
    & h2 {
        font: var(--font-big-bold);
        letter-spacing: var(--font-spacing-big);
        text-align: center;
    }
}

.tickets-header,
.tickets-text {
    max-width: 41em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tickets-list {
    list-style: none;
    margin: var(--row-gap) 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    border-radius: var(--radius);
    color: var(--color-dark);
    overflow: hidden;

    & > li {
        width: 100%;
        margin: auto;
    }

    @media (max-width: 799px) {
        background: none;

        & > li + li {
            margin-top: var(--row-gap);
        }
    }

    @media (min-width: 800px) (max-width: 999px) {
        & > li + li {
            border-top: solid 1px var(--color-gray-light);
        }
    }

    @media (min-width: 1000px) {
        flex-direction: row;
        align-items: stretch;

        & > li {
            flex: 1 1 33%;
            margin: 0;
        }

        & > li + li {
            border-left: solid 1px var(--color-gray-light);
        }
    }
}
.ticket {
    font: var(--font-normal);
    display: flex;

    @media (max-width: 799px) {
        flex-direction: column;
        background: var(--color-white);
        border-radius: var(--radius);
    }

    @media (min-width: 1000px) {
        flex-direction: column;
    }
}
.ticket-header {
    text-align: center;
    background: var(--color-light);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    @media (max-width: 799px) {
        width: 100%;
        border-radius: var(--radius) var(--radius) 0 0;
    }

    @media (min-width: 800px) and (max-width: 999px) {
        width: 12rem;
        flex: 0 0 auto;
    }

    @media (min-width: 1000px) {
        min-height: 6rem;
    }
}
.ticket-title {
    font: var(--font-medium-bold);
    margin: 0;
}
.ticket-subtitle {
    font: var(--font-small);
    margin: 0;
}
.ticket-body {
    font: var(--font-small);
    padding: 1rem 2rem;
    margin: 0;
    flex: 1 1 auto;

    @media (max-width: 999px) {
        align-self: center;
        padding: 2rem;
    }
}
.ticket-buy {
    padding: 2rem;
    text-align: center;

    & .button {
        display: block;
    }

    & > strong {
        display: block;
        margin-bottom: .5em;
    }

    & del {
        color: var(--color-shadow);
        text-decoration-color: var(--color-dark);
    }

    @media (max-width: 999px) {
        width: 11rem;
        flex: 0 0 auto;
        align-self: center;
    }
}