.what-wrapper {
    background: var(--color-white);
    color: var(--color-dark);
    margin-bottom: 20vw;
}
.what {
    position: relative;
    z-index: 2;
    padding: 0 0 var(--row-gap);
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    grid-template-areas: 'header'
                         'text'
                         'metrics'
                         'descriptions'
                         'sub-image'
                         'sub-text'
                         'features';

    @media (min-width: 850px) {
        grid-template-columns: 1fr 24rem;
        grid-template-areas: 'header header'
                             'text metrics'
                             'descriptions descriptions'
                             'sub-text sub-text'
                             'sub-image sub-image'
                             'features features';
    }
}

.what-header {
    grid-area: header;

    & h2 {
        margin: 0;
        font: var(--font-big-bold);
        letter-spacing: var(--font-spacing-big);
    }
}
.what-text {
    grid-area: text;
}
.what-metrics {
    grid-area: metrics;
    font: var(--font-big-bold);
    letter-spacing: var(--font-spacing-big);
    white-space: nowrap;
    color: var(--color-shadow);

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & strong {
        font-weight: inherit;
        color: var(--color-dark);
    }

    @media (max-width: 800px) {
        text-align: center;
    }
}

.what-descriptions {
    grid-area: descriptions;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    grid-template-columns: minmax(200px, 250px);
    margin: var(--row-gap) 0;

    @media (min-width: 500px) {
        grid-template-columns: repeat(2, minmax(200px, 250px));
    }

    @media (min-width: 1100px) {
        grid-template-columns: repeat(4, minmax(200px, 250px));
    }
}

.what-description {
    & > img {
        display: block;
        margin: 10px auto;
        max-width: 100%;
        width: 150px;
    }

    & > strong {
        font: var(--font-normal-bold);
    }

    & > p {
        font: var(--font-small);
    }
}
.what-features {
    grid-area: features;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    grid-template-columns: repeat(2, minmax(100px, 150px));
    font: var(--font-normal);
    line-height: 1.2;

    & img {
        display: block;
        margin: 1em auto;
        max-width: 100%;
    }

    & strong {
        display: block;
    }

    @media (min-width: 500px) {
        grid-template-columns: repeat(3, minmax(100px, 150px));
    }

    @media (min-width: 800px) {
        grid-template-columns: repeat(4, minmax(100px, 150px));

        @media (max-width: 1100px) {
            & > li:nth-child(5) {
                grid-column: 2;
            }
        }
    }

    @media (min-width: 1100px) {
        grid-template-columns: repeat(6, minmax(100px, 150px));
    }
}

.what-subimage {
    grid-area: sub-image;
}
.what-subtext {
    grid-area: sub-text;
}

.what-subtext-title {
    font: var(--font-big-bold);
    letter-spacing: var(--font-spacing-big);
    text-align: center;

    & del {
        color: var(--color-shadow);
        text-decoration-color: var(--color-dark);
    }
}
.what-subtext-intro {
    width: 100%;
    max-width: 41em;
    margin: auto;
    text-align: center;
}

.what-subtext-text {
    column-count: 2;
    column-gap: calc(var(--column-gap) * 2);
    column-rule: solid 1px var(--color-shadow);
    max-width: 41em;
    margin: var(--row-gap) auto;

    & h3 {
        font: var(--font-medium-bold);
        letter-spacing: var(--font-spacing-medium);
        break-inside: avoid;
        margin-top: 0;
        text-align: center;
    }

    & p {
        break-inside: avoid;
    }

    @media (max-width: 800px) {
        column-count: 1;
        max-width: 24em;

        & h3 {
            text-align: left;
            margin-top: 2em;
        }
    }
}
