.why {
    padding: var(--row-gap) 0;
}
.why-header {
    & h2 {
        font: var(--font-big-bold);
        letter-spacing: var(--font-spacing-big);
    }
}
.why-header,
.why-text,
.why-intro {
    max-width: 30em;
    margin: auto;
    text-align: center;
}
.why-reasons {
    list-style: none;
    margin: var(--row-gap) 0;
    grid-column: 1 / -1;
    padding: 0;

    & li {
        padding: var(--row-gap) var(--column-gap);
        background-image: linear-gradient(to right, #0006, #0000 25%, #0000 75%, #0006);
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-color: hsl(0, 50%, 45%);
        }
        &:nth-child(2) {
            background-color: hsl(230, 50%, 40%);
        }
        &:nth-child(3) {
            background-color: hsl(140, 40%, 35%);
        }
    }
}
.why-reason {
    max-width: 1200px;
    margin: 0 auto;
    font: var(--font-small);

    & h3 {
        font: var(--font-medium-bold);
        letter-spacing: var(--font-spacing-medium);
        margin: 0;
    }

    @media (min-width: 800px) {
        display: grid;
        grid-template-columns: 10em 35em;
        grid-column-gap: var(--column-gap);
        justify-content: center;
        align-items: center;

        & h3 {
            text-align: right;
        }
    }
}