{% import "components.njk" as comp %}

<section class="ly-section calendar" id="{{ calendar.id }}">
    <header class="calendar-header">
        <h2>{{ calendar.title }}</h2>
    </header>

    <div class="calendar-text">
        {{ calendar.text | md | safe }}
    </div>

    <ul class="calendar-days js-calendar">
        {% for day in calendar.days %}
        <li>
            <div class="calendar-day">
                <h4>{{ day.title }}</h4>

                <ul>
                    {% for event in day.events %}
                    <li>
                        <details class="calendar-event">
                            <summary class="calendar-event-header">
                                {{ event.hour }}

                                {% for id in event.speakers %}
                                {% for speaker in collections.speakers %}
                                    {% if speaker.fileSlug == id %}
                                    <img src="{{ speaker.data.image.thumbnail | url }}" alt="{{ speaker.data.image.alt }}">
                                    {% endif %}
                                {% endfor %}
                                {% endfor %}

                                <strong>{{ event.title }}</strong>
                            </summary>

                            <div class="calendar-event-text">
                                {{ event.text | md | safe }}
                            </div>
                        </details>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>

    <footer class="calendar-buttons buttonGroup is-center">
        <button class="button is-secondary js-prev">Prev</button>
        <button class="button is-secondary js-next">Next</button>
    </footer>
</section>
