{% import "components.njk" as comp %}

<div class="ly-section contact-wrapper">
    <section class="contact" id="{{ contact.id }}">
        <header class="contact-header">
            <h2>{{ contact.title }}</h2>
        </header>

        <div class="contact-manager">
            {{ comp.img(contact.manager.image, 'contact-manager-photo') }}
            <strong class="contact-manager-name">{{ contact.manager.name }}</strong><br>
            <em class="contact-manager-position">{{ contact.manager.position }}</em>

            <address>
                {% for link in contact.manager.links %}
                    {{ comp.link(link) }}
                {% endfor %}
            </address>
        </div>

        <div class="contact-tarugo">
            {{ contact.address | md | type | safe }}

            <address>
                {% for link in contact.links %}
                    {{ comp.link(link) }}
                {% endfor %}
            </address>
        </div>
    </section>
</div>
