<section class="ly-section faq" id="{{ faq.id }}">
    <header class="faq-header">
        <h2>{{ faq.title }}</h2>
    </header>

    {% for faq in faq.questions %}
    <details class="faq-question">
        <summary>{{ faq.question }}</summary>

        <div class="faq-answer">
            {{ faq.answer }}
        </div>
    </details>
    {% endfor %}
</section>
