{% import "components.njk" as comp %}

<footer class="footer">
    <small>{{ footer.copyright }}</small>

    <ul class="footer-menu">
        {% for link in footer.links %}
        <li>
            {{ comp.link(link) }}
        </li>
        {% endfor %}
    </ul>
</footer>
