<header class="ly-section header">
    <strong class="header-logo">{{ header.logo }}</strong>
    <h1 class="header-title">{{ header.title }}</h1>
    <p class="header-subtitle">{{ header.subtitle }}</p>
</header>
