<nav class="navbar">
    <strong class="navbar-logo">
        Tarugose
    </strong>

    <ul class="navbar-menu">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>

    <div class="navbar-buttons">
        <a href="#">Asistir</a>
        <a href="#">Patrocinar</a>
    </div>
</nav>
