{% import "components.njk" as comp %}

<nav class="navbar">
    {# <strong class="navbar-logo">
        #Tarugo20
    </strong> #}

    <button class="button is-secondary navbar-menu-button">Menú</button>

    <ul class="navbar-menu">
        {% for link in menu %}
        <li>
            {{ comp.link(link) | safe }}
        </li>
        {% endfor %}
    </ul>

    <ul class="navbar-buttons buttonGroup">
        {% for link in ctas %}
        <li>
            {{ comp.link(link) | safe }}
        </li>
        {% endfor %}
    </ul>
</nav>
