{% import "components.njk" as comp %}

<section class="ly-section">
    <header>
        <h2>{{ partners.title }}</h2>
    </header>

    {{ partners.text | md | type | safe }}

    <figure>
        {{ comp.img(partners.main) }}

        <figcaption>
        {{ partners.main.text | md | type | safe }}
        </figcaption>
    </figure>

    <ul class="ly-grid">
    {% for partner in partners.standard %}
        <li>
        <figure>
            {{ comp.img(partner) }}

            <figcaption>
            {{ partner.text | md | type | safe }}
            </figcaption>
        </figure>
        </li>
    {% endfor %}
    </ul>

    <ul class="ly-grid">
    {% for partner in partners.patrons %}
        <li>
            {{ comp.img(partner) }}
        </li>
    {% endfor %}
    </ul>

    <h3>{{ partners.sponsor.title }}</h3>
    {{ partners.sponsor.text | md | type | safe }}

    {{ comp.button(partners.sponsor.btn) }}
</section>
