{% import "components.njk" as comp %}

<section class="ly-section partners" id="{{ partners.id }}">
    <header class="partners-header">
        <h2>{{ partners.title }}</h2>
        <p>{{ partners.subtitle }}</p>
    </header>

    {{ partners.text | md | type | safe }}

    <ul class="partners-list is-main">
    {% for partner in partners.main %}
        <li>
        <figure class="partners-company">
            {{ comp.img(partner) }}

            <figcaption>
            {{ partner.text | md | type | safe }}
            </figcaption>
        </figure>
        </li>
    {% endfor %}
    </ul>

    <ul class="partners-list">
    {% for partner in partners.standard %}
        <li>
        <figure class="partners-company">
            {{ comp.img(partner) }}

            <figcaption>
            {{ partner.text | md | type | safe }}
            </figcaption>
        </figure>
        </li>
    {% endfor %}
    </ul>

    <ul class="partners-list is-patrons">
    {% for partner in partners.patrons %}
        <li class="partners-company">
            {{ comp.img(partner) }}
        </li>
    {% endfor %}
    </ul>

    <div class="partners-sponsor">
        <h3>{{ partners.sponsor.title }}</h3>
        {{ partners.sponsor.text | md | type | safe }}

        {{ comp.link(partners.sponsor.btn) }}
    </div>

    <div class="scene-sofa" role="presentation">
        <span class="scene-sofa-background">
            {% include "assets/buildings.svg" %}
        </span>
    </div>
</section>
