{% import "components.njk" as comp %}

<section class="ly-section partners" id="{{ partners.id }}">
    <div class="partners-content">
        <header class="partners-header">
            <h2>{{ partners.title }}</h2>
            <p>{{ partners.subtitle }}</p>
        </header>

        <div class="partners-text">
            {{ partners.text | md | safe }}
        </div>

        <div class="partners-logos">
            <ul class="partners-list is-main">
            {% for partner in partners.main %}
                <li>
                <figure class="partners-company">
                    {{ comp.img(partner) }}

                    <figcaption>
                    {{ partner.text | md | safe }}
                    </figcaption>
                </figure>
                </li>
            {% endfor %}
            </ul>

            <ul class="partners-list">
            {% for partner in partners.standard %}
                <li>
                <figure class="partners-company">
                    {{ comp.img(partner) }}

                    <figcaption>
                    {{ partner.text | md | safe }}
                    </figcaption>
                </figure>
                </li>
            {% endfor %}
            </ul>

            <ul class="partners-list is-patrons">
            {% for partner in partners.patrons %}
                <li class="partners-company">
                    {{ comp.img(partner) }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="partners-sponsor">
        <h3 class="partners-sponsor-title">{{ partners.sponsor.title }}</h3>

        <div class="partners-sponsor-text">
            {{ partners.sponsor.text | md | safe }}
        </div>

        <div class="partners-sponsor-document">
            {{ partners.sponsor.document | safe }}
        </div>
    </div>

    <div class="scene scene-sofa" role="presentation">
        <span class="scene-background">
            {% include "assets/city.svg" %}
        </span>
        <span class="scene-tile is-people">
            {% include "assets/people.svg" %}
        </span>
        <span class="scene-tile is-logo">
            {% include "assets/logo.svg" %}
        </span>
    </div>
</section>
