{% import "components.njk" as comp %}

<section class="ly-section speakers" id="{{ speakers.id }}">
    <header class="speakers-header">
        <h2>{{ speakers.title }}</h2>
    </header>

    <ul class="speakers-list">

        {% for speaker in collections.speakers %}
        <li>
            <article class="speaker" style="--image: url('{{ speaker.data.image.src | url }}')">
                <h4 class="speaker-title">{{ speaker.data.title }}</h4>
                <p class="speaker-company">{{ speaker.data.company }}</p>
                <em class="speaker-position">{{ speaker.data.position }}</em>

                <address class="speaker-contact">
                    {% if speaker.data.twitter %}
                    {{ comp.icon('twitter', speaker.data.twitter) }}
                    {% endif %}

                    {% if speaker.data.linkedin %}
                    {{ comp.icon('linkedin', speaker.data.linkedin) }}
                    {% endif %}
                </address>
            </article>
        </li>
        {% endfor %}
    </ul>
</section>
