{% import "components.njk" as comp %}

<section class="ly-section tickets" id="{{ tickets.id }}">
    <header class="tickets-header">
        <h1>{{ tickets.title }}</h1>
    </header>

    {{ tickets.text | md | type | safe }}

    <ul class="tickets-list">
        {% for ticket in tickets.types %}
        <li>
            <h4>{{ ticket.title }}</h4>

            {% if ticket.subtitle %}
                <p>{{ ticket.subtitle }}</p>
            {% endif %}

            <ul>
            {% for item in ticket.features %}
                <li>
                    {{ item }}
                </li>
            {% endfor %}
            </ul>

            {{ ticket.price | md | type | safe }}

            {{ comp.link(ticket.btn) }}
        </li>
        {% endfor %}
    </ul>
</section>
