{% import "components.njk" as comp %}

<section class="ly-section tickets" id="{{ tickets.id }}">
    <div class="scene-spaceship" role="presentation">
        <span class="scene-spaceship-enterprise">
            {% include "assets/spaceship.svg" %}
        </span>
    </div>
    
    <header class="tickets-header">
        <h2>{{ tickets.title }}</h2>
    </header>

    <div class="tickets-text">
        {{ tickets.text | md | safe }}
    </div>

    <ul class="tickets-list">
        {% for ticket in tickets.types %}
        <li class="ticket">
            <div class="ticket-header">
                <h3 class="ticket-title">{{ ticket.title }}</h3>

                {% if ticket.subtitle %}
                    <p class="ticket-subtitle">{{ ticket.subtitle }}</p>
                {% endif %}
            </div>

            <ul class="ticket-body">
            {% for item in ticket.features %}
                <li>
                    {{ item }}
                </li>
            {% endfor %}
            </ul>

            <div class="ticket-buy">
                <strong>{{ ticket.price | safe }}</strong>

                {{ comp.link(ticket.btn) }}
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
