{% import "components.njk" as comp %}

<div class="ly-section what-wrapper" id="{{ what.id }}">
    <section class="what">
        <header class="what-header">
            <h2>{{ what.title }}</h2>
        </header>

        <div class="what-text">
            {{ what.text | md | safe }}
        </div>

        <aside class="what-metrics">
            {{ what.metrics | md | safe }}
        </aside>

        <ul class="what-descriptions">
        {% for item in what.descriptions %}
            <li class="what-description">
                {{ comp.img(item) }}
                <strong>{{ item.title | safe }}</strong>
                {{ item.text | md | safe }}
            </li>
        {% endfor %}
        </ul>

        <div class="what-subtext">
            <h2 class="what-subtext-title">{{ what.subtitle | safe }}</h2>

            <div class="what-subtext-intro">
            {{ what.subintro | md | safe }}
            </div>

            <div class="what-subtext-text">
                {{ what.subtext | md | safe }}
            </div>
        </div>

        <div class="scene-set what-subimage" role="presentation">
            <span class="scene-set-guest">
                {% include "assets/guest.svg" %}
            </span>
            <span class="scene-set-presenter">
                {% include "assets/presenter.svg" %}
            </span>
            <span class="scene-set-band">
                {% include "assets/band.svg" %}
            </span>
            <span class="scene-set-audience">
                {% include "assets/audience.svg" %}
            </span>
        </div>

        <ul class="what-features">
        {% for item in what.features %}
            <li>
                {{ comp.img(item) }}
                {{ item.title | md | safe }}
            </li>
        {% endfor %}
        </ul>
    </section>

    <div class="scene-moonBottom" role="presentation">
        <span class="scene-moonBottom-background">
            {% include "assets/moon.svg" %}
        </span>
    </div>
</div>