<section class="ly-section why" id="{{ why.id }}">
    <header class="why-header">
        <h2>{{ why.title }}</h2>
    </header>

    <div class="why-intro">
        {{ why.intro | md | type | safe }}
    </div>

    <ul class="why-reasons">
        {% for reason in why.reasons %}
        <li>
            <div class="why-reason">
                <h3>{{ reason.title }}</h3>
                {{ reason.text | md | type | safe }}
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="why-text">
        {{ why.text | md | type | safe }}
    </div>
</section>
