<div class="scene scene-satellite">
    <div class="scene-figure">
        {% include "assets/satellite.svg" %}
    </div>
</div>

<section class="ly-section why" id="{{ why.id }}">
    <header class="why-header">
        <h2>{{ why.title }}</h2>
    </header>

    <div class="why-intro">
        {{ why.intro | md | safe }}
    </div>

    <ul class="why-reasons">
        {% for reason in why.reasons %}
        <li>
            <div class="why-reason">
                <h3>{{ reason.title }}</h3>
                {{ reason.text | md | safe }}
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="why-text">
        {{ why.text | md | safe }}
    </div>

    <div class="scene scene-paper">
        <div class="scene-figure">
            {% include "assets/paper.svg" %}
        </div>
    </div>
</section>
