.header {
    text-align: center;
    padding: var(--row-gap) 0;
}
.header-logo {
    font: var(--font-normal-bold);
    text-transform: uppercase;
}
.header-title {
    font: var(--font-xxbig-bold);
    letter-spacing: var(--font-spacing-xxbig);
}
.header-subtitle {
    font: var(--font-big);
    letter-spacing: var(--font-spacing-big);
}