.what {
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    grid-template-areas: 'header'
                         'text'
                         'metrics'
                         'descriptions'
                         'sub-title'
                         'sub-image'
                         'sub-text'
                         'features';

    @media (min-width: 800px) {
        grid-template-areas: 'header header header'
                             'text text metrics'
                             'descriptions descriptions descriptions'
                             'sub-title sub-title sub-title'
                             'sub-image sub-text sub-text'
                             'features features features';
    }
}

.what-header {
    grid-area: header;
}
.what-text {
    grid-area: text;
}
.what-metrics {
    grid-area: metrics;

    & ul {
        list-style: none;
    }
}

.what-descriptions {
    grid-area: descriptions;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    grid-template-columns: minmax(200px, 250px);

    & img {
        display: block;
        margin: 10px auto;
    }

    @media (min-width: 600px) {
        grid-template-columns: repeat(2, minmax(200px, 250px));
    }

    @media (min-width: 1100px) {
        grid-template-columns: repeat(4, minmax(200px, 250px));
    }
}
.what-features {
    grid-area: features;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    grid-template-columns: repeat(2, minmax(100px, 150px));

    & img {
        display: block;
        margin: 10px auto;
    }

    @media (min-width: 500px) {
        grid-template-columns: repeat(3, minmax(100px, 150px));
    }

    @media (min-width: 800px) {
        grid-template-columns: repeat(4, minmax(100px, 150px));

        @media (max-width: 1100px) {
            & > li:nth-child(5) {
                grid-column: 2;
            }
        }
    }

    @media (min-width: 1100px) {
        grid-template-columns: repeat(6, minmax(100px, 150px));
    }
}

.what-subtitle {
    grid-area: sub-title;
}
.what-subimage {
    grid-area: sub-image;
}
.what-subtext {
    grid-area: sub-text;
}
